@use './src/styles/vars';

.todayWeater {
  width: 100%;
  height: 100%;
  min-width: 290px;
  padding: 18px;
  background-color: #1e213a;
  color: vars.$textLightGrey;
  text-align: center;
  position: relative;
  z-index: 1;

  overflow: hidden;

  .search {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-city {
      width: 160px;
      height: 40px;
      padding: 11px 17px;
      border: none;
      outline: none;
      color: vars.$grey;
      background-color: vars.$buttonGrey;
      font-size: 1em;
      font-weight: 500;
    }

    &-locate {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      outline: none;

      background-color: vars.$buttonGrey;
    }
  }

  .weater-image {
    width: 150;
    margin-top: 76px;
  }

  .temp {
    width: 100%;
    margin: 80px auto 40px auto;

    &-number {
      font-size: 9em;
      font-weight: 500;
      color: #e7e7eb;
    }
    &-unity {
      font-size: 3rem;
      vertical-align: middle;
    }
  }

  .weaterDescription {
    font-size: 2.25em;
  }

  .weaterDate {
    width: 200px;
    margin: 50px auto 33px auto;
    display: flex;
    justify-content: space-between;

    font-size: 1.125em;
  }

  .localisation {
    position: relative;
    margin-bottom: 50px;

    &_button {
      position: absolute;
      top: -5px;
      right: 83px;
      border: none;
      background-color: transparent;

      &-svg {
        color: vars.$grey;
      }

      &-svg:hover {
        color: vars.$primary;
      }
    }

    &_message {
      display: none;
      position: absolute;
      top: 50px;
      color: vars.$grey;
      left: 50%;
      transform: translateX(-50%);

      font-weight: 500;
    }

    .isActive {
      display: block;
    }
  }
}

// Media Querries

@media screen and (min-width: 1163px) {
  .todayWeater {
    width: 32%;
    height: 910px;
    max-height: 100vh;
  }
}
